@model Arthes.DATA.Models.ModelRevista

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ModelRevista</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-2">
                <label asp-for="Tema" class="control-label"></label>
                <input asp-for="Tema" class="form-control" />
                <span asp-validation-for="Tema" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="NumeroEdicao" class="control-label">Número Edição</label>
                <input asp-for="NumeroEdicao" class="form-control" />
                <span asp-validation-for="NumeroEdicao" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="MesEdicao" class="control-label">Mês Edição</label>
                <input asp-for="MesEdicao" class="form-control" />
                <span asp-validation-for="MesEdicao" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="AnoEdicao" class="control-label">Ano Edição</label>
                <input asp-for="AnoEdicao" class="form-control" />
                <span asp-validation-for="AnoEdicao" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="Photo" class="control-label"></label>
                <input type="file" asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="DataInclusao" class="control-label"></label>
                <input asp-for="DataInclusao" class="form-control" />
                <span asp-validation-for="DataInclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAlteracao" class="control-label"></label>
                <input asp-for="DataAlteracao" class="form-control" />
                <span asp-validation-for="DataAlteracao" class="text-danger"></span>
            </div>*@
            <div class="form-group p-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
