@using Arthes.DATA.Enums
@model Arthes.DATA.Models.ModelsEntity.Revista

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Hidden("MesAtual",DateTime.Now.Month)
@Html.Hidden("AnoAtual",DateTime.Now.Year)



<h1>Revista</h1>
<hr />
<h4>Criar Registro</h4>
<br />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">

        <div class="card-header">
            Dados da Revista
        </div>

        <div class="card-body row">
            <div class="col-md-12 row camposEdicao">
                <div class="form-group col-md-6">
                    <label asp-for="Tema" class="control-label"></label>
                    <input id="txtTema" asp-for="Tema" class="form-control" />
                    <span asp-validation-for="Tema" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="NumeroEdicao" class="control-label">Número Edição</label>
                    <input asp-for="NumeroEdicao" class="form-control"/>
                    <span asp-validation-for="NumeroEdicao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="MesEdicao" class="control-label">Mês Edição</label>
                    <select id="enumMes" asp-for="MesEdicao" class="form-control" asp-items="Html.GetEnumSelectList<Mes>()"></select>
                    <span asp-validation-for="MesEdicao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="AnoEdicao" class="control-label">Ano Edição</label>
                    <input id="txtAno" asp-for="AnoEdicao" class="form-control"  value="@ViewData["AnoAtual"]?.ToString()"/>
                    <span asp-validation-for="AnoEdicao" class="text-danger"></span>
                </div>
            </div>

            <p></p>
            <div class="col-md-12 row camposEdicao">
                <div class="form-group col-md-6">
                    <button class="btn btn-secondary p-2"><i class="fa-solid fa-floppy-disk"></i>&ensp;Gravar</button>&ensp;
                    <a class="btn btn-warning p-2" asp-action="Index"><i class="fa-solid fa-arrow-rotate-left"></i>&ensp;Voltar</a>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Arthes.Revista.Cadastro.js"></script>
}
